@font-face {
	font-family: Articul;
	font-display: swap;
	src:
		url('../fonts/ArticulatCF-Medium.woff2') format('woff2'),
		url('../fonts/ArticulatCF-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Articul;
	font-display: swap;
	src:
		url('../fonts/ArticulatCF.woff2') format('woff2'),
		url('../fonts/ArticulatCF.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: druk;
	font-display: swap;
	src:
		url('../fonts/drukwidecyr-medium.woff2') format('woff2'),
		url('../fonts/drukwidecyr-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
